<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a changeBg class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{navItems[0]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{navItems[1]}}</a>
        </li>
        <li  class="nav-item">
          <a changeBg class="nav-link" href="#">{{navItems[2]}}</a>
        </li>
      </ul>
      <form *ngIf="name" class="d-flex" role="search">
        <input [(ngModel)]="searchKey" name="searchKey" class="form-control me-2" type="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-success" (click)="searchNav()" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">

<h1 changeBg>User Records</h1>
<!-- <table class="table">
  <thead>
    <tr >
      <th *ngFor="let row of ['#', 'First Name', 'Last Name','Gender', 'IP Address']" scope="col">{{row}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of userRecords">
      <th>{{row.id}}</th>
      <td>{{row.first_name}}</td>
      <td>{{row.last_name}}</td>
      <td><span [class.text-bg-success]="row.gender === 'Male'"
        [class.text-bg-danger]="row.gender === 'Female'"
        [class.text-bg-secondary]="row.gender !== 'Female' && row.gender !== 'Male'" class="badge">{{row.gender}}</span></td>
      <td>{{row.ip_address}}</td>
    </tr>
  </tbody>
</table> -->




<!--
<hr>
<h1>ngIF else</h1>

<div *ngIf="isAdmin; else userRole">
  Hello Admin, Welcome
</div>


<ng-template #userRole>
  Hello User, Welcome
</ng-template> -->



